<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart" [routerLink]="['/chart']">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/settings']">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
