<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart" [routerLink]="['/tabs/chart']">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/tabs/settings']">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
