/* =================== IMPORTS OBRIGATÓRIOS DO IONIC =================== */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";

ion-page.ion-page-invisible {
  display: block !important;
  opacity: 1 !important;
  transform: none !important;
  z-index: 10 !important;
}
:root {
  --ion-color-primary: #1a1a1a;
  --ion-color-secondary: #666;
  --ion-color-light: #f8f9fa;
  --ion-color-dark: #000;
  --ion-background-color: #f8f9fa;
}

ion-content {
  --background: var(--ion-background-color);
}

ion-toolbar {
  --background: #ffffff;
  --color: #1a1a1a;
}
