<ion-header>
  <ion-toolbar color="light">
    <ion-title>Gráficos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    placeholder="Pesquisar moeda"
    debounce="300"
    (ionInput)="filterCurrencies($event, 'from')"
  ></ion-searchbar>
  <ion-select
    [(ngModel)]="fromCurrency"
    interface="popover"
    (ionChange)="onCurrencyChange()"
  >
    <ion-select-option *ngFor="let c of filteredFrom" [value]="c.code">
      <img [src]="c.flag" class="flag-icon" />
      {{ c.name }} ({{ c.code }})
    </ion-select-option>
  </ion-select>

  <ion-searchbar
    placeholder="Pesquisar moeda"
    debounce="300"
    (ionInput)="filterCurrencies($event, 'to')"
  ></ion-searchbar>
  <ion-select
    [(ngModel)]="toCurrency"
    interface="popover"
    (ionChange)="onCurrencyChange()"
  >
    <ion-select-option *ngFor="let c of filteredTo" [value]="c.code">
      <img [src]="c.flag" class="flag-icon" />
      {{ c.name }} ({{ c.code }})
    </ion-select-option>
  </ion-select>

  <ion-card class="chart-card">
    <ion-card-header>
      <ion-card-title>
        Gráfico de conversão de {{ fromCurrency }} para {{ toCurrency }}
      </ion-card-title>
      <ion-card-subtitle>{{ lastUpdatedText }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="period-buttons">
        <ion-button
          *ngFor="let p of periodOptions"
          [color]="p.label === selectedPeriod.label ? 'primary' : 'medium'"
          fill="outline"
          (click)="onPeriodChange(p)"
          size="small"
        >
          {{ p.label }}
        </ion-button>
      </div>

      <div class="chart-container">
        <canvas #canvasChart></canvas>
        <div *ngIf="isLoadingHistory" class="loading-overlay">
          <ion-spinner name="dots"></ion-spinner>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
